body{
    background: rgb(10,142,112);
background: linear-gradient(90deg, rgba(10,142,112,0.9416141456582633) 0%, rgba(25,40,224,0.9920343137254902) 61%, rgba(153,130,136,1) 100%);
}
.loggin_page{
    padding:25px;
    margin: 30px;
}
h1{
    color: aliceblue;
}

input{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:10px;
    padding: 5px;
}